body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    }
.fform{
    background-color: white;
    padding: 20px;
    
}
h2 {
    text-align: center;
    color: #333;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

